<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Report</title>
    <style>
        div{
            position: absolute;
            right: 50px;
            top: 5px;
        }
    </style>
</head>
<body>
<div>
    <button type="button" onclick="location.href=`{% url 'users:logout' %}`">Logout</button>
    <button type="button" onclick="location.href=`{% url 'users:login' %}`">Homepage</button>
</div>
<h1>Create Report</h1> 
<form action="/pushpost/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Title:
    <input type="text" name="title" required><br>
    Description:
    <textarea rows="5" cols="40" name="description" required></textarea><br>
    Document upload:
    <input type="file" name="file" id="file">
    <input type="hidden" name="url" id="url">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</script>
</html>