{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <style>
        div{
            position: absolute;
            right: 50px;
            top: 5px;
        }
    </style>
</head>
<body>
    <div>
        <button type="button" onclick="location.href=`{% url 'exemplo:login' %}`">Homepage</button>
    </div>
<form method="post" action="/createuser/">
    {% csrf_token %}
    Name:
    <input type="text" name="name"><br>
    Email:
    <input type="email" name="email"><br>
    Password:
    <input type="password" name="password"><br>
    <button type="submit">SignUp</button>
</form>
</body>
</html>